<!doctype html>
<html>
<head>
    <title>Create Game</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="profile.css">
</head>
<body>

        <header>
          <section class="navbar bg-orange-400">
              <section class="flex-1">
                <a class="btn btn-ghost normal-case text-xl text-white"> <img class="logo-sm" src="./img/b-logo.png"><span class="text-black">Baske<span class="text-white">therapy</span</span></a>
              </section>
              <section class="flex-none">
                <section class="avatar">
                  <section class="w-12 rounded-full">
                    <img src="https://placeimg.com/192/192/people" />
                  </section>
                </section>
              </section>
            </section>
         </header>


       

        <section class="text-center">


          <section class="text-black ">
            <h2>All Games</h2>
          </section>
          <section>


         
          </section>
        </section>
        



<script src="main.js"></script>
<script src="https://cdn.tailwindcss.com"></script>

</body>
</html>
