<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.1/dist/full.css" rel="stylesheet" type="text/css" />
   
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-fixed">
   <header>
      <section class="navbar ">
        <section class="flex-1">
          <a class="btn btn-ghost normal-case text-xl text-white"> <img class="logo-sm" src="./img/b-logo.png"><span class="text-white">Baske<span class="text-orange-400">therapy</span</span></a>
        </section>
        <section class="flex-none">
            <a href="/signup" class="btn   h-2 rounded-full ">Get Started</a>
        </section>
        <section class="flex-none">
        <a href="/login" class="btn h-5 my-2 rounded-full bg-white text-black hover:bg-black hover:text-white ">Log In</a>
        </section>
      </section>
   </header>
   

   <section>
        <section class="flex justify-center items-center h-screen">
            <h1 class="text-5xl font-bold "><span class="text-white">Baske<span class="text-orange-400">therapy</span</span></h1>
     
        </section>

   </section>
   <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="./img/hero-img-one.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">What is Basketherapy?</h1>
        <p class="py-6">Basketherapy provides an stress-alternative to conducting pick-up games</p>
        <a href="/signup"class="btn btn-dark hover:bg-orange-400 hover:text-black">Learn More</a>
      </div>
    </div>
  </div>
<!-- <section>
    <header>
        <section class="header-area">
            <section class="logo-area">
          
                <img class="logo-sm"src="./img/b-logo.png">
            </section>
            <section class="lettering">
                <span class="baske">Baske</span>
                
            </section>
            <section class="get-started-area">
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Get Started</a>
            </section>
            <section class="sign-in-area">
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
            </section>
            <section></section>
        </section>
       
    </header>
</section> -->
<!-- <section class="container">

    <section class="jumbotron text-center">
        <h1>Basketherapy</h1>
   

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </section>

</section> -->

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
